<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                mustMatch="false">
  <serverUrls>
    <serverUrl url="http://services.arcgisonline.com"
        matchAll="true"/>
    <serverUrl url="http://win-512cutm9iq3:6080/arcgis/rest/services/" matchAll="true"/>
    <serverUrl url="http://WQ-20160426HYH1:6080/arcgis/rest/services/" matchAll="true"/>
    <serverUrl url="http://GISSERVER:6080/arcgis/rest/services/" matchAll="true"/>
  </serverUrls>
</ProxyConfig>